
    <h1> {{title}} </h1>
    <input type="date" class="date" placeholder="Start date">
    <input type="date" class="date" placeholder="End date">
    <select class="currency">
      <option value="USD">US Dollar</option>
      <option value="EUR">Euro</option>
    </select>
    <p>Min index= <span id="min">0</span></p>
    <p>Max index= <span id="max">0</span></p>

    <canvas id="graph" width="400" height="400"></canvas>
  
  